section{
    color: tomato;
}

#container{
    color: rgb(141, 125, 125);
}
.nav {
  color: rgb(186, 165, 46);
width: 10px;
text-decoration: none;

}
/*
DEcendant selectors
*/
div header span p{
  color: firebrick;
}
/* 
grouping selectors
*/
h1,
h2,
h4,
h5,
h6,
span,
test
{
color: indianred;
font-size: 20px;
padding: 0;
margin: 0;
}
h3:hover{
  color: indianred;

}
p::first-letter{
  color: darkolivegreen;
  font-size: 40px;
  text-transform: capitalize;
}
p::first-line{
  color:darkgray;
  font-size: 30px;
}
ul > li{
  color: red;
}